<h2 id="loginH2">login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label style="color: white" for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="lakshmi">

  <br><br>

  <label style="color: white" for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="your password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button style="margin: 2vw" id="loginButton">Login</button>

  <p style="color: #8db8fe;" class="account-message">
    don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>