<h1>following</h1>
<p>this page shows all persons I am following</p>

{{#each user.inspirations}}
<a href="/following/{{this._id}}">{{this.username}}</a>
<form action="/unfollow/{{this.id}}" method="GET">
  <button type="submit">unfollow</button>
</form>
{{/each}}