<h1>following</h1>
<p>this page shows all persons I am following</p>
<a id="home" href="/profile">home</a>

<form action="/user/add" method="POST">
  <label for="inspirations">username or email address: </label>
  <input type="text" name="userSearch" id="inspirations" />
  <button type="submit">add user</button>
</form>

{{#if errorMessage }}
<div>{{errorMessage}}</div>
{{/if}}

{{#each user.inspirations}}
<a href="/following/{{this._id}}">{{this.username}}</a>
<form action="/unfollow/{{this.id}}" method="GET">
  <button type="submit">unfollow</button>
</form>
{{/each}}