<h1>spots</h1>
<p>where your friends hanging</p>
<a id="friendsSpotHome" href="/profile">home</a>
<div class="myDestination">
  {{#each cat}}
  <div class="square">
    <a class="squareContent" href="/friendsDestination/{{this}}">{{this}}</a>
  </div>
  {{/each}}
</div>