<p id="welcomeSentence">welcome to andel</p>
<div class="profileMenu">
  <a id="addSpotsBtn" href="/spots/add">add new <br> andel</a>
  <a href="/following">my <br> friends</a>
  <a href="/friendsSpots">inspi- <br>ration</a>
  <a href="/messages">messa- <br>ges</a>
  <a href="/auth/logout">logout</a>
</div>
<div class="myDestination">
  {{#each unique}}
  <div class="square">
    <a class="squareContent" href="/myList/{{this}}">{{this}} </a>
    </a>
  </div>
  {{/each}}
</div>