// general styling
/* colours 
yellow:  #fdd049;

altrosa: #D6BAE2
darkblue: #3430BA
navygreen: #5C680C
knallgrün: #20C572
orange: #E07F00
lightblue:  #8AD2E4;


*/

* {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 20px;
}
// login & signup
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fdd049;
  padding: 50px;
}
a {
  color: #00b7ff;
}

#welcome {
  margin: 30px;
}

.myDestination:nth-child(1) {
  background-color: #d6bae2;
}

.myDestination:nth-child(2) {
  background-color: #3430ba;
}

.myDestination:nth-child(3) {
  background-color: #5c680c;
}
.myDestination:nth-child(4) {
  background-color: #20c572;
}
.myDestination:nth-child(5) {
  background-color: #e07f00;
}
.myDestination:nth-child(6) {
  background-color: #8ad2e4;
}
